<!DOCTYPE html>
<html class="darkmode2" lang="en">
<head>
<title>Organisations | {* appName *}</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
<link href="/static/favicon.png" rel="icon" type="image/x-icon"/>
<link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon"/>
<script src="https://unpkg.com/vue/dist/vue.global.prod.js"></script>
<script src="/static/pack/Pgn6.js"></script><link href="/static/pack/uaJj.css" rel="stylesheet"/></head>
<body>
<div id="list">
<div class="item flex-item" v-for="i in items">
<div class="namecard flex-item">
<img :src="'https://foonyew.edu.my'+i.v.shift()" class="pf_pic" draggable="false"/>
<h3 class="name">{{i.k}}</h3>
</div>
<div class="jobs flex-item">
<span class="job" v-for="j in i.v">{{j}}</span>
</div>
</div>
</div>
</body>
</html>