<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
<meta content="/static/favicon.png" property="og:image"/>
<title>（｡･ω･｡）</title>
<meta content="一个无趣的小生态圈" name="description"/>
<link href="/static/favicon.png" rel="icon" type="image/x-icon"/>
<link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon"/>
<script src="/static/pack/4-Qz.js"></script><link href="/static/pack/bH5D.css" rel="stylesheet"/></head>
<body>
<div class="sleeping" id="map">137</div>
<div id="score">0</div>
</body>
</html>