<!DOCTYPE html>
<html class="darkmode2" lang="en">
<head>
<title>X-O-X</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
<meta content="休闲小游戏" name="description"/>
<link href="/static/favicon.png" rel="icon" type="image/x-icon"/>
<link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon"/>
<script src="/static/pack/SJlj.js"></script><link href="/static/pack/tJI6.css" rel="stylesheet"/></head>
<body>
<div id="game">
<div id="info">YOUR TURN</div>
<div id="board">
<div class="row">
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
</div>
<div class="row">
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
</div>
<div class="row">
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
</div>
</div>
</div>
</body>
</html>