<!DOCTYPE html>
<html lang="en">
<head>
<title>Logs | {* appName *}</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
<meta content="log" name="description"/>
<link href="/static/favicon.png" rel="icon" type="image/x-icon"/>
<link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon"/>
<script src="https://unpkg.com/vue/dist/vue.global.prod.js"></script>
<script src="/static/pack/KcJZ.js"></script><link href="/static/pack/tifW.css" rel="stylesheet"/></head>
<body>
<header>
<h1><a href="">LOGS</a></h1>
<div class="controls"><span><a href="javascript:build_logs()">刷新</a> <a href="javascript:expand_all()">展开全部</a> <a href="javascript:collapse_all()">收起全部</a> <a href="javascript:refresh_logs()">清除全部</a> <a href="/admin/">ADMIN</a> <a href="/">主页</a></span></div>
</header>
<div id="loading">Loading...</div>
<div id="view">
<details class="log" v-for="i in items">
<summary>
<span><time class="full_time" title="Timestamp">{{i.time.value}}</time><time class="short_time" title="Timestamp">{{i._time.value}}</time> <span class="session" title="Session ID" v-if="i.cookies">{{i.cookies.value.session}}</span> <span class="method" title="Method">{{i.method.value}}</span> <span class="url" title="Path">{{i.url.value}}</span> <span class="status" title="Status">{{i.status.value}}</span></span>
</summary>
<table>
<tr :class="j.key" v-for="j in i">
<td>{{j.key}}</td>
<td>
<a :href="j.value" target="_blank" v-if="['url','http_referer'].indexOf(j.key)&gt;-1">{{j.value}}</a>
<span v-else="">{{j.value}}</span>
</td>
</tr>
</table>
</details>
</div>
</body>
</html>