<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ filename }}</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
<meta content="Database" name="description"/>
<link href="/static/favicon.png" rel="icon" type="image/x-icon"/>
<link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon"/>
<link href="/static/admin/db.css" rel="stylesheet"/>
<link href="/static/admin/scrollbar.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<p id="data" style="display:none">{{ data }}</p>
<img alt="Loading..." src="/static/admin/loading.gif" style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);"/>
<h1 style="user-select:none;margin:0;padding:0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;color:#2869be;font-size:32px;font-weight:bold;text-shadow:0 0 10px rgb(115,115,115);">LOADING</h1>
<script src="/static/admin/db.js"></script>
</body>
</html>