<!DOCTYPE html>
<html lang="en">
<head>
<title>{* appName *}</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
<meta content="The space of {* appName *}" name="description"/>
<meta content="{* appName *}, space" name="keywords"/>
<meta content="{* appName *}" name="author"/>
<meta content="{* appName *}" property="og:title"/>
<meta content="The space of {* appName *}" property="og:description"/>
<meta content="/static/cover.png" property="og:image"/>
<meta content="website" property="og:type"/>
<link href="/static/favicon.png" rel="icon" type="image/x-icon"/>
<link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon"/>
<style>
body {
background-color: black;
color: white;
font-family: 'Consolas', 'Microsoft YaHei';
text-align: center;
}
main {
position: absolute;
top: 50%;
left: 50%;
width: 95vw;
transform: translate(-50%,-50%);
white-space: normal;
}
a {
font-weight: bold;
color: lightskyblue;
}
</style></head>
<body>
<img src="/static/cover.png" style="display: none;"/>
<main>
<div>You should be redirected automatically to target URL:</div>
<div style="padding: 10px 0;">
<a href="{* full_path *}" id="path">{* path *}</a>
</div>
<div>If not click the link.</div>
</main>
<script>
location = document.querySelector('#path').innerText
</script>
</body>
</html>