<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
<meta content="Login" name="description"/>
<link href="/static/favicon.png" rel="icon" type="image/x-icon"/>
<link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon"/>
</head>
<body>
<script>
const Geo = {loc:[]}
function getPosition() {
console.log('run')
navigator.geolocation.getCurrentPosition(function(position) {
alert(position.coords.latitude, position.coords.longitude)
Geo.loc = position
console.log(position)
})
if (!Geo.loc.length) {
setTimeout(getPosition,0)
}
}
window.onload = getPosition
</script>
</body>
</html>