:root {
    --block-width: 80vw;
}

body {
    width: max-content;
    margin: 20px auto;
    background-color: black;
    color: white;
    font-family: var(--default-font);
    user-select: none;
}

.v {
    visibility: hidden;
}

.v[data-v-app] {
    visibility: visible;
}

data {
    display: none;
}

a {
    color: inherit;
}

.block {
    width: var(--block-width);
    max-width: 800px;
}

table {
    border-collapse: collapse;
}

table td:nth-child(1) {
    width: max-content;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.block table {
    width: 100%;
}

.report-card tr:nth-child(1),.attd-card tr:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.1);
}

.table-view tr:nth-child(1) > td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#namecard {
    display: flex;
    flex-wrap: wrap;
}

#namecard table {
    max-width: max-content;
}

@media screen and (max-width:500px){
    :root {
        --block-width: 92.5vw;
    }

    .report-card td:nth-child(2) {
        display: none;
    }
}