<!DOCTYPE html>
<html lang="en">
<head>
    <title>{* student *} | {* appName *}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Student">
    <link rel="icon" href="/static/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <script src="https://unpkg.com/vue/dist/vue.global.prod.js"></script>
</head>
<body>
    <data>{* student *}</data>
    <!-- <a href="javascript:minifyTemplates()">refresh</a> -->
    <div id="namecard" class="v block">
        <table>
            <tr v-for="i in info">
                <td>{{ i.key }}</td>
                <td>{{ i.value }}</td>
            </tr>
        </table>
        <table>
            <tr v-for="i in group">
                <td>{{ i.key }}</td>
                <td v-for="j in i.value">{{ j }}</td>
            </tr>
        </table>
    </div>
    <div id="results" class="v block">
        <hr>
        <div v-for="i in results">
            <h1>{{ i.year }}</h1>
            <table class="info-card">
                <tr v-for="j in i.info">
                    <td>{{ j.key }}</td>
                    <td v-for="k in j" :colspan="j.colspan">{{ k }}</td>
                </tr>
            </table>
            <table class="report-card table-view">
                <tr v-for="j in i.rep">
                    <td v-for="k in j">{{ k }}</td>
                </tr>
            </table>
            <table class="attd-card table-view">
                <tr v-for="j in i.att">
                    <td v-for="k in j">{{ k }}</td>
                </tr>
            </table>
            <hr>
        </div>
    </div>
</body>
</html>